In [1]:
import warnings
warnings.simplefilter('ignore')

import numpy as np
import pandas as pd
import sys,dateutil.parser


import macd1
import pandas.io.data as web
import matplotlib.pyplot as plt
import multiprocessing as mp
%matplotlib inline
import matplotlib.pyplot as plt
from pylab import rcParams

import strat1
import krakenutl,kraken
import pandas as pd

PAIR='XXBTZUSD'
#PAIR='XXBTZUSD_1440'
FROM = krakenutl.epochFromLocalTime('2016-03-01 00:00:00')
INTERVAL=1440

In [2]:
kraken.getOhlc(PAIR, INTERVAL,FROM)

DEBUG:kraken:{'pair': 'XXBTZUSD', 'interval': 1440, 'since': 1456790400}
DEBUG:kraken:ent: 6
DEBUG:kraken:{'pair': 'XXBTZUSD', 'interval': 1440, 'since': 1457222400}
DEBUG:kraken:ent: 1
DEBUG:kraken:Total entries: 7

               open     high      low    close     vwap         volume  count
time
2016-03-03  421.710  431.111  417.000  419.621  422.258  3523.27103536   2388
2016-03-04  419.621  424.490  404.870  406.670  412.689  3019.00269053   2639
2016-03-05  406.670  407.770  388.401  393.161  399.060  4392.93244420   2994
2016-03-06  393.161  410.057  387.270  400.649  399.742  1730.36531397   1452